* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    color: #1d1e35;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(#b378e2 30%, #6565e7);
    background-attachment: fixed;
    letter-spacing: -0.6px;
}

.faq-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 25px 50px -30px #000000cc;
}

.faq-card h1 {
    font-size: 2.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1.7em;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

section {
    border-bottom: 1px solid #e7e7e9;
    cursor: pointer;
}

section h2 {
    width: 90%;
    display: inline-block;
    color: hsl(237, 12%, 33%);
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1.025em 0;
}

section img {
    float: right;
    padding-top: 1.8em;
}

section p {
    width: 90%;
    display: none;
    color: #787887;
    font-weight: 400;
    padding: 0 0 1.125em;
}

section input {
    display: none;
}

/* Show/Hide answer */
input:checked ~ h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.125rem;
    font-weight: 700;
}

input:checked ~ p {
    display: block;
}

input:checked ~ img {
    transform: rotate(180deg);
    padding: 0 0 1.5em;
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
    body {
        padding-top: 7%;
        padding-bottom: 7%;
        position: relative;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }

    .faq-card {
        width: 65%;
        margin: auto;
        position: relative;
    }

    .img-container {
        width: 50%;
        height: 100%;
        position: absolute;
        background-image: url(images/illustration-woman-online-desktop-plus-pattern.svg);
        background-repeat: no-repeat;
        background-position: 112.5% -22.2em;
    }

    .img-container img {
        content: url(images/illustration-box-desktop.svg);
        position: absolute;
        right: 80%;
        top: 19em;
    }

    .faq-card .container {
        height: 100%;
        margin-right: 6.5em;
        padding: 7.5em 0 7.5em 50%;
    }

    .faq-card h1 {
        margin-bottom: 0.5em;
        text-align: left;
    }

    section h2:hover {
        color: #f47c57;
    }

    input:checked ~ h2:hover {
        color: #000000cc;
    }
}

@media screen and (max-width: 375px) {
    body {
        padding-top: 15em;
    }

    .faq-card {
        width: 85%;
        min-height: 420px;
        margin: 0 auto 3.5em;
    }

    .faq-card > img {
        content: url(images/illustration-woman-online-mobile-shadow.svg);
        position: absolute;
        transform: translate(-50%, -9em);
        left: 50%;
    }

    .faq-card .container {
        margin: 0 2em;
        padding: 10em 0 3.5em;
    }

    .faq-card h1 {
        margin: 0.25em 0 0.5em;
        text-align: center;
    }
}
